body {
  color: $text;
  font-family: $open;
}
.im-common-title {
  display: block;
  font-family: $panton;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}
.im-common-subtitle {
  display: block;
  font-family: $mont;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
}
.im-main {
  position: relative;
}
.im-common-section {
  padding: 30px 0;
}
.im-top-section {
  padding: 60px 0 30px 0;
}
.im-bottom-section {
  padding: 30px 0 60px 0;
}
.im-tag{
  display: inline-block;
  padding: 10px 25px;
  margin: 5px 10px;
  box-sizing: border-box;
  font-family: $mont;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: $dark;
}
.im-form {
  input[type="submit"] {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    background-color: #fff;
    color: $dark;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    @include transition(all 0.3s ease);

    &:hover {
      color: #fff;
      background-color: $blue;
      border-color: $blue;
    }
  }
  input:not([type="submit"]) {
    width: 100%;
    height: 40px;
    border: 1px solid $darker;
    margin-bottom: 10px;
    color: #fff;
    background-color: $darker;
    font-size: 14px;
    padding: 0 10px;
    box-sizing: border-box;
    &:focus {
      background-color: #fff;
      color: $dark;
    }
  }
  textarea {
    width: 100%;
    height: 140px;
    border: 1px solid $darker;
    margin-bottom: 10px;
    color: #fff;
    background-color: $darker;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    &:focus {
      background-color: #fff;
      color: $dark;
    }
  }
}