body {
  color: $text;
  font-family: $open;
}
.im-blog-general-wrap{
  color: $text;
  background-color: #fff;
  font-size: 16px;
}
.im-wrapper{
  position: relative;
}

.im-header-wrap{
  position: fixed;
  width: 1100px;
  z-index: 100;
}
.im-sandwich-wrap{
  position: absolute;
  top: 0;
  right: -90px;
  background-color: $dark;
  width: 90px;
  height: 90px;
  -webkit-box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.08);
  &:hover{
    .im-sandwich{
      &::before{
        top: 6px;
      }
      &::after{
        bottom: 6px;
      }
    }
  }
}
.im-sandwich-inner{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: auto;
}
.im-sandwich{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 3px;
  background-color: #fff;
  &::before, &::after{
    @include pseudo;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #fff;
    @include transition(all 0.3s ease);
  }
  &::before{
    top: 9px;
  }
  &::after{
    bottom: 9px;
  }
}
.im-footer{
  background-color: $dark;
  color: #fff;
  padding: 45px 0 0 0;
  z-index: 5;
  .im-footer-container{
    padding: 0 0 45px 0;
  }
  .col-33, .col-66{
    vertical-align: top;
  }
  .col-33 .contact-col-inner{
    padding: 86px 20px 0 0;
  }
  .im-copyright{
    font-size: 12px;
    background-color: $darker;
    padding: 12px 0;
    p{
      margin: 0;
    }
  }
}
.im-blog-general-wrap{
  position: relative;
  padding: 45px 0;
  .im-title-wrap{
    text-align: center;
  }
}
.im-posts-container{
  margin: 0 -10px;
}

.im-post-inner{
  background-color: $light;
  position: relative;
  margin-bottom: 45px;
  .post-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .im-post-img{
    width: 180px;
    display: inline-block;
    vertical-align: top;
  }
  .im-post-info{
    width: calc(100% - 180px);
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    position: relative;
    z-index: 2;
    .im-post-date{
      color: $blue;
      font-family: $open;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 10px;
      @include transition (color 0.5s ease);
    }
    .im-post-title{
      font-family: $mont;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      @include transition (color 0.5s ease);
    }
    .im-post-descr{
      font-family: $open;
      font-size: 14px;
      font-weight: 300;
      @include transition (color 0.5s ease);
    }
  }
  &::before{
    @include pseudo;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: $dark;
    @include transition(width 0.8s cubic-bezier(.455,.03,.515,.955));
  }
  &:hover{
    .im-post-date, .im-post-title, .im-post-descr{
      color: #fff;
    }
    &::before{
      width: 100%;
    }
  }
}
.col-post{
  padding: 0 10px;
}
.im-tags-wrap{
  margin-bottom: 70px;
  padding: 30px;
  background-color: $light;
}
.im-tag{
  display: inline-block;
  padding: 10px 25px;
  margin: 5px 10px;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  span{
    position: relative;
    font-family: $mont;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
  }
  &::before{
    @include pseudo;
    background-color: $dark;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    -webkit-transition: width 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: width 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  &:hover{
    span{
      color: #fff;
    }
    &::before{
      width: 100%;
    }
  }
}
.im-tag-container {
  text-align: center;
}
.im-blog-text-cont{
  code{
    display: block;
    padding: 20px;
    background-color: $light;
    font-size: 12px;
  }
  p{
    margin-bottom: 10px;
  }
}
.im-form {
  input[type="submit"]{
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    background-color: #fff;
    color: $dark;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    @include transition(all 0.3s ease);
    &:hover{
      color: #fff;
      background-color: $blue;
      border-color: $blue;
    }
  }
  input:not([type="submit"]){
    width: 100%;
    height: 40px;
    border: 1px solid $darker;
    margin-bottom: 10px;
    color: #fff;
    background-color: $darker;
    font-size: 14px;
    padding: 0 10px;
    @include box-sizing;
    &:focus{
      background-color: #fff;
      color: $dark;
    }
  }
  textarea{
    width: 100%;
    height: 140px;
    border: 1px solid $darker;
    margin-bottom: 10px;
    color: #fff;
    background-color: $darker;
    font-size: 14px;
    padding: 10px;
    @include box-sizing;
    &:focus{
      background-color: #fff;
      color: $dark;
    }
  }
  .col-50{
    vertical-align: top;
    padding: 0 10px;
  }
  &.contact-col-inner{
    margin: 0 -10px;
    text-align: center;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:  $light; }
  input:-moz-placeholder, textarea:-moz-placeholder { color:  $light; }
  input::-moz-placeholder, textarea::-moz-placeholder { color:  $light; }
  div.wpcf7-validation-errors, div.wpcf7-response-output{
    border: none;
  }
  input.wpcf7-not-valid{
    border-color: red;
  }
  div.wpcf7-response-output{
    font-size: 12px;
  }
}
.contact-row-wrap{
  margin-bottom: 10px;
}
.contact-row{
  position: relative;
  display: inline-block;
  &::before{
    @include pseudo;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: $blue;
    @include transition(width 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955));
  }
  &:hover{
    &::before{
      width: 100%;
    }
    .contact-text{
      color: #fff;
    }
    .contact-svg-wrap{
      color: #fff;
      background-color: transparent;
    }
  }
}
.contact-svg-wrap{
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-color: #fff;
  color: $dark;
  @include transition(all 0.3s ease);
}
.svgcontact{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.contact-text{
  width: calc(100% - 40px);
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding: 0 20px 0 10px;
  @include box-sizing;
  color: $light;
  position: relative;
  z-index: 2;
  @include transition(color 0.5s ease);
}