.clear { clear: both; }
.clearfix:after, .clear_after:after { content: ''; display: block; clear: both; }
.vfixed-container { font-size: 0; }
.vfix { height: 100%; width: 0; display: inline-block; vertical-align: middle; }
.c-box-110{
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
.c-box-74{
  max-width: 740px;
  margin: 0 auto;
}
.c-container{
  font-size: 0;
}
.col-50{
  display: inline-block;
  width: 50%;
  @include box-sizing;
}
.col-33{
  display: inline-block;
  width: 33.33%;
  @include box-sizing;
}
.col-66{
  display: inline-block;
  width: 66.66%;
  @include box-sizing;
}
img.fits{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.img-fix {
  position: relative;
}
.img-33{
  padding-top: 33%;
}
.img-fix .img, .img-fix img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.im-common-title{
  font-family: $panton;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}
.im-common-subtitle{
  font-family: $mont;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 50px;
}
a.block-link{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}