$text: #3a3a3a;
$border: #C5CAE9;
$dark: #283593;
$darker: #1A237E;
$textlight: #536DFE;
$light: #E8EAF6;
$blue: #3F51B5;
$panton: 'Panton', san-serif;
$mont: 'Montserrat', san-serif;
$open: 'Open Sans', san-serif;