.im-projects-section {
  padding-top: 60px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23ffffff' width='11' height='11'/%3E%3Crect fill='%23fefeff' x='10' width='11' height='11'/%3E%3Crect fill='%23fdfdfe' y='10' width='11' height='11'/%3E%3Crect fill='%23fcfcfe' x='20' width='11' height='11'/%3E%3Crect fill='%23fbfbfe' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23fafbfd' y='20' width='11' height='11'/%3E%3Crect fill='%23f9fafd' x='30' width='11' height='11'/%3E%3Crect fill='%23f8f9fc' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23f7f8fc' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23f6f7fc' y='30' width='11' height='11'/%3E%3Crect fill='%23f5f6fb' x='40' width='11' height='11'/%3E%3Crect fill='%23f4f5fb' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23f3f4fb' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23f2f3fa' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23f1f2fa' y='40' width='11' height='11'/%3E%3Crect fill='%23f0f2f9' x='50' width='11' height='11'/%3E%3Crect fill='%23eff1f9' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23eef0f9' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23edeff8' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23eceef8' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23ebedf8' y='50' width='11' height='11'/%3E%3Crect fill='%23eaecf7' x='60' width='11' height='11'/%3E%3Crect fill='%23e9ebf7' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e8eaf6' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e7e9f6' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e6e9f6' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e5e8f5' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e4e7f5' x='70' width='11' height='11'/%3E%3Crect fill='%23e3e6f5' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23e2e5f4' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23e2e4f4' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23e1e3f3' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23e0e2f3' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23dfe1f3' x='80' width='11' height='11'/%3E%3Crect fill='%23dee0f2' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23dde0f2' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23dcdff2' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23dbdef1' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23daddf1' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23d9dcf0' x='90' width='11' height='11'/%3E%3Crect fill='%23d8dbf0' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23d7daf0' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23d6d9ef' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23d5d8ef' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23d4d7ef' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23d3d7ee' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23d2d6ee' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23d1d5ed' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23d0d4ed' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23cfd3ed' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ced2ec' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23cdd1ec' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ccd0ec' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23cbcfeb' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23caceeb' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23c9ceea' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23c8cdea' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23c7ccea' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23c6cbe9' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23c5cae9' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  .im-common-title {
    margin-bottom: 60px;
  }
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.project-item-inner {
  padding-top: 100%;
  overflow: hidden;
  &:hover {
    .darker-slide-bg,
    .light-slide-bg {
      transform: translate(-100%, 0);
    }
  }
}
.darker-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $darker;
  z-index: 2;
  transform: translate(0, 0);
  transition: transform 0.8s cubic-bezier(.455,.03,.515,.955);
}
.light-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $light;
  z-index: 2;
  transform: translate(0, 0);
  transition: transform 0.8s cubic-bezier(.455,.03,.515,.955);
}