@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans:400,700&display=swap");
@font-face {
  font-family: "Panton";
  src: asset-url("/assets/fontsPanton-LightCaps.eot");
  src: asset-url("/assets/fontsPanton-LightCaps.eot?#iefix") format("embedded-opentype"), asset-url("/assets/fontsPanton-LightCaps.woff") format("woff"), asset-url("/assets/fontsPanton-LightCaps.woff2") format("woff2"), asset-url("/assets/fontsPanton-LightCaps.ttf") format("truetype"), asset-url("/assets/fontsPanton-LightCaps.svg#Panton") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Panton";
  src: asset-url("/assets/fontsPanton-BlackCaps.eot");
  src: asset-url("/assets/fontsPanton-BlackCaps.eot?#iefix") format("embedded-opentype"), asset-url("/assets/fontsPanton-BlackCaps.woff") format("woff"), asset-url("/assets/fontsPanton-BlackCaps.woff2") format("woff2"), asset-url("/assets/fontsPanton-BlackCaps.ttf") format("truetype"), asset-url("/assets/fontsPanton-BlackCaps.svg#Panton") format("svg");
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

fieldset, input, textarea {
  outline: none;
  color: inherit;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  font-family: inherit;
  resize: none;
  line-height: normal;
}

select {
  outline: none;
  color: inherit;
  background: none;
  border: none;
  border-radius: 0;
  font-family: inherit;
  resize: none;
  line-height: normal;
  cursor: pointer;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color: transparent !important;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent !important;
}

input::-ms-clear {
  display: none;
}

address, article, aside, canvas, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

a, a:hover, a:visited, a:focus, a:active {
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

p {
  margin-bottom: 5px;
}

a {
  color: inherit;
}

div {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: inherit;
}

a img {
  border: 0;
}

ul {
  list-style: none;
}

svg {
  display: inline-block;
  fill: currentColor;
  vertical-align: top;
}

.im-container-1100 {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.im-container-740 {
  max-width: 740px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-33 {
  flex: 0 0 33.33%;
  width: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
}

.flex-50 {
  flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
  box-sizing: border-box;
}

.flex-66 {
  flex: 0 0 66.66%;
  width: 66.66%;
  max-width: 66.66%;
  box-sizing: border-box;
}

.flex-justify-center {
  justify-content: center;
}

img.fits {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

img.cover {
  object-fit: cover;
}

.img-fix {
  position: relative;
}

.img-fix .img, .img-fix img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.relative-parent {
  position: relative;
}

a.abs-block-link {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.abs-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white {
  color: #fff;
}

.dark {
  color: #283593;
}

.darker {
  color: #1A237E;
}

.light-bg {
  background-color: #E8EAF6;
}

.border-bg {
  background-color: #C5CAE9;
}

.darker-bg {
  background-color: #1A237E;
}

.dark-bg {
  background-color: #283593;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.squared-block {
  padding-top: 100%;
}

.centered-child {
  margin: auto;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.vh-100 {
  height: 100vh;
}

.full-height {
  height: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-active {
  transition-delay: 1s;
}

.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

body {
  color: #3a3a3a;
  font-family: "Open Sans", san-serif;
}

.im-common-title {
  display: block;
  font-family: "Panton", san-serif;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 35px;
}

.im-common-subtitle {
  display: block;
  font-family: "Montserrat", san-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
}

.im-main {
  position: relative;
}

.im-common-section {
  padding: 30px 0;
}

.im-top-section {
  padding: 60px 0 30px 0;
}

.im-svg-bg {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23283593'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23283593'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23283593'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-size: contain;
  background-attachment: fixed;
}

.im-bottom-section {
  padding: 30px 0 60px 0;
}

.im-tag {
  display: inline-block;
  padding: 10px 25px;
  margin: 5px 10px;
  box-sizing: border-box;
  font-family: "Montserrat", san-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #283593;
}

.im-form input[type=submit] {
  width: 100%;
  height: 40px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #283593;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.im-form input[type=submit]:hover {
  color: #fff;
  background-color: #3F51B5;
  border-color: #3F51B5;
}
.im-form input:not([type=submit]) {
  width: 100%;
  height: 40px;
  border: 1px solid #1A237E;
  margin-bottom: 10px;
  color: #fff;
  background-color: #1A237E;
  font-size: 14px;
  padding: 0 10px;
  box-sizing: border-box;
}
.im-form input:not([type=submit]):focus {
  background-color: #fff;
  color: #283593;
}
.im-form textarea {
  width: 100%;
  height: 140px;
  border: 1px solid #1A237E;
  margin-bottom: 10px;
  color: #fff;
  background-color: #1A237E;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
}
.im-form textarea:focus {
  background-color: #fff;
  color: #283593;
}

.im-menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #283593;
  width: 90px;
  height: 90px;
  transition: width 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), height 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 100;
}
.im-menu-wrap.menuIsOpened {
  width: 100%;
  height: 100%;
}

.im-sandwich-container {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: auto;
}

.im-sandwich {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 3px;
  background-color: #fff;
}
.im-sandwich::before, .im-sandwich::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}
.im-sandwich::before {
  top: 9px;
}
.im-sandwich::after {
  bottom: 9px;
}
.im-sandwich:hover::before {
  top: 6px;
}
.im-sandwich:hover::after {
  bottom: 6px;
}

.menuIsOpened .im-sandwich {
  background-color: transparent;
}
.menuIsOpened .im-sandwich::before {
  transform: rotate(45deg);
  top: 0;
}
.menuIsOpened .im-sandwich::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.im-menu-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.im-footer {
  background-color: #283593;
  color: #fff;
  padding: 60px 0 0 0;
  z-index: 5;
}
.im-footer .im-common-title {
  margin-bottom: 60px;
}

.im-footer-container {
  padding: 0 0 60px 0;
}

.im-copyright {
  font-size: 12px;
  background-color: #1A237E;
  padding: 12px 0;
}
.im-copyright p {
  margin: 0;
}

.contact-row-wrap {
  margin-bottom: 10px;
}

.contact-row {
  position: relative;
  margin-bottom: 20px;
}
.contact-row::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #3F51B5;
  transition: width 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.contact-row:hover::before {
  width: 100%;
}
.contact-row:hover .contact-text {
  color: #fff;
}
.contact-row:hover .contact-svg-wrap {
  color: #fff;
  background-color: transparent;
}
.contact-row:not(:last-child) {
  margin-right: 20px;
}
@media only screen and (max-width: 650px) {
  .contact-row {
    width: calc(100% - 100px);
  }
  .contact-row:not(:last-child), .contact-row:last-child {
    margin: 0 50px;
  }
  .contact-row {
    display: flex;
    align-items: center;
  }
  .contact-row:nth-child(even) {
    flex-direction: row-reverse;
  }
  .contact-row:nth-child(even) .contact-text {
    text-align: right;
  }
}

.contact-svg-wrap {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-color: #fff;
  color: #283593;
  transition: all 0.3s ease;
}

.svgcontact {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.contact-text {
  width: calc(100% - 40px);
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding: 0 20px 0 10px;
  box-sizing: border-box;
  color: #E8EAF6;
  position: relative;
  z-index: 2;
  transition: color 0.5s ease;
}

.im-projects-section {
  padding-top: 60px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23ffffff' width='11' height='11'/%3E%3Crect fill='%23fefeff' x='10' width='11' height='11'/%3E%3Crect fill='%23fdfdfe' y='10' width='11' height='11'/%3E%3Crect fill='%23fcfcfe' x='20' width='11' height='11'/%3E%3Crect fill='%23fbfbfe' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23fafbfd' y='20' width='11' height='11'/%3E%3Crect fill='%23f9fafd' x='30' width='11' height='11'/%3E%3Crect fill='%23f8f9fc' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23f7f8fc' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23f6f7fc' y='30' width='11' height='11'/%3E%3Crect fill='%23f5f6fb' x='40' width='11' height='11'/%3E%3Crect fill='%23f4f5fb' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23f3f4fb' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23f2f3fa' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23f1f2fa' y='40' width='11' height='11'/%3E%3Crect fill='%23f0f2f9' x='50' width='11' height='11'/%3E%3Crect fill='%23eff1f9' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23eef0f9' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23edeff8' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23eceef8' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23ebedf8' y='50' width='11' height='11'/%3E%3Crect fill='%23eaecf7' x='60' width='11' height='11'/%3E%3Crect fill='%23e9ebf7' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e8eaf6' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e7e9f6' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e6e9f6' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e5e8f5' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e4e7f5' x='70' width='11' height='11'/%3E%3Crect fill='%23e3e6f5' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23e2e5f4' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23e2e4f4' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23e1e3f3' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23e0e2f3' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23dfe1f3' x='80' width='11' height='11'/%3E%3Crect fill='%23dee0f2' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23dde0f2' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23dcdff2' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23dbdef1' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23daddf1' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23d9dcf0' x='90' width='11' height='11'/%3E%3Crect fill='%23d8dbf0' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23d7daf0' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23d6d9ef' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23d5d8ef' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23d4d7ef' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23d3d7ee' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23d2d6ee' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23d1d5ed' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23d0d4ed' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23cfd3ed' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ced2ec' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23cdd1ec' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ccd0ec' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23cbcfeb' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23caceeb' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23c9ceea' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23c8cdea' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23c7ccea' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23c6cbe9' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23c5cae9' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}
.im-projects-section .im-common-title {
  margin-bottom: 60px;
}
@media only screen and (max-width: 650px) {
  .im-projects-section .im-common-title {
    margin-bottom: 50px;
  }
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media only screen and (max-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 650px) {
  .project-grid {
    grid-template-columns: 100%;
  }
}

.project-item-inner {
  padding-top: 100%;
  overflow: hidden;
}
.project-item-inner:hover .darker-slide-bg,
.project-item-inner:hover .light-slide-bg {
  transform: translate(-100%, 0);
}

.darker-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1A237E;
  z-index: 2;
  transform: translate(0, 0);
  transition: transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.light-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #E8EAF6;
  z-index: 2;
  transform: translate(0, 0);
  transition: transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/*TO DO Fix this temp solution*/
@media only screen and (max-width: 768px) {
  .tablete-hide {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .project-item:nth-child(4n+3) .darker-slide-bg, .project-item:last-child .darker-slide-bg {
    background-color: #E8EAF6;
  }
  .project-item:nth-child(4n+3) .white, .project-item:last-child .white {
    color: #1A237E;
  }
  .tablete-hide {
    display: block;
  }
}
.about-grid {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 300px;
  align-items: center;
}
@media only screen and (max-width: 650px) {
  .about-grid {
    grid-template-columns: 100%;
  }
}

.about-img-container {
  width: 300px;
  max-width: calc(100% - 30px);
  box-sizing: border-box;
  position: relative;
}
.about-img-container::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 300px;
  height: 300px;
  background-color: #E8EAF6;
}
.about-img-container.right-bottom-aligned {
  margin: 0 0 0 auto;
}
.about-img-container.right-bottom-aligned::before {
  top: -30px;
  left: -30px;
  right: auto;
  bottom: auto;
}
.about-img-container.right-bottom-aligned .img-fix {
  z-index: 2;
}
.about-img-container.left-top-aligned {
  margin: 0 0 auto 0;
}
@media only screen and (max-width: 650px) {
  .about-img-container.left-top-aligned {
    margin-top: 30px;
  }
  .about-img-container.left-top-aligned::before {
    top: -30px;
    bottom: auto;
  }
}

.about-text-container {
  padding: 0 50px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 650px) {
  .about-text-container {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .mobile-order-1 {
    order: 1;
  }
  .mobile-order-2 {
    order: 2;
  }
  .mobile-order-3 {
    order: 3;
  }
  .mobile-order-4 {
    order: 4;
  }
}
@media only screen and (max-width: 1024px) {
  .competency-column-angle {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
}
.competency-column-angle .competency-column-inner {
  position: relative;
}
.competency-column-angle .competency-column-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: skewX(15deg) translateX(25%);
}
.competency-column-angle .competency-column-inner.dark-bg::before {
  background-color: #283593;
}
@media only screen and (max-width: 1024px) {
  .competency-column-angle .competency-column-inner::before {
    content: none;
  }
}
@media only screen and (max-width: 768px) {
  .competency-column-angle .competency-column-inner.dark-bg {
    background-color: #E8EAF6;
  }
}

.competency-column-chart {
  margin-left: -50px;
}
@media only screen and (max-width: 1024px) {
  .competency-column-chart {
    margin-left: 0;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    padding-bottom: 100px;
  }
}

.competency-column-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 30px 30px 150px;
  box-sizing: border-box;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .competency-column-inner {
    padding: 30px;
    height: 200px;
  }
  .competency-column-inner .im-common-title {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 768px) {
  .competency-column-inner {
    height: auto;
  }
  .competency-column-inner .im-common-title {
    color: #283593;
  }
}

.im-skills-row {
  font-size: 0;
}

.im-skills-cell {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
}

.im-line-cell {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 100px);
  position: relative;
  height: 20px;
  background-color: #fff;
  z-index: 4;
}
.im-line-cell::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #3F51B5;
}
.im-line-cell[data-level="20"]:after {
  width: 20%;
}
.im-line-cell[data-level="30"]:after {
  width: 30%;
}
.im-line-cell[data-level="40"]:after {
  width: 40%;
}
.im-line-cell[data-level="50"]:after {
  width: 50%;
}
.im-line-cell[data-level="60"]:after {
  width: 60%;
}
.im-line-cell[data-level="70"]:after {
  width: 70%;
}
.im-line-cell[data-level="80"]:after {
  width: 80%;
}
.im-line-cell[data-level="85"]:after {
  width: 85%;
}
.im-line-cell[data-level="90"]:after {
  width: 90%;
}
.im-line-cell[data-level="100"]:after {
  width: 100%;
}

.im-skills-container {
  position: relative;
  width: 500px;
  margin: 0 auto;
}

.im-skills-legend {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  padding-left: 100px;
  z-index: 5;
}

.im-legend {
  flex-grow: 1;
}
.im-legend:not(:last-child) {
  border-right: 1px solid rgba(232, 234, 246, 0.3);
}

.legend-cell {
  transform: translateY(50px) rotate(45deg);
  font-size: 14px;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .competency-component {
    height: auto;
  }
}
